{% extends 'reco/base.html' %}
{% block content %}
 section 1 : video
<section class="header7 cid-sxfQ0aMh1o" id="header7-1" style="padding-top: 150px;">

    <div class="container">
        <div class="media-container-row">

            <div class="media-content align-right">
                <h1 class="mbr-section-title mbr-white pb-3 mbr-fonts-style display-1">
                    RECO 시연 영상
                </h1>
                <div class="mbr-section-text mbr-white pb-3">
                    <p class="mbr-text mbr-fonts-style display-5">
                        RECO는 재료에 따라 퍼스널 레시피를 추천해드리는 서비스입니다. 지금 RECO와 함께 냉장고 속 잠자는 재료를 깨워보세요!
                    </p>
                </div>
            </div>

            <div class="mbr-figure" style="width: 100%;">
                <iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/uNCr7NdOJgw?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="1280" height="720" frameborder="0" allowfullscreen>
                </iframe>
            </div>

        </div>
    </div>
</section>

<!-- section 2 : step -->
<section class="step2 cid-sxfQXUQcjD" id="step2-4" style="padding-top: 70px;">

    <div class="container">
        <h2 class="mbr-section-title pb-3 mbr-fonts-style align-center display-2">
            Steps
        </h2>
        <h3 class="mbr-section-subtitle pb-5 mbr-fonts-style align-center display-5">
            내가 가지고 있는 재료를 입력하면 레시피를 추천해드립니다
        </h3>
        <div class="step-container row justify-content-center">
            <div class="card col-12 col-md-4 separline">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            1
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Ingredient
                        </h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            냉장고에 있는 재료 2가지 이상을 입력하세요</p>
                    </div>
                </div>
            </div>

            <div class="card col-12 separline col-md-4">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            2
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Menu</h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            추천된 메뉴 중 먹고 싶은 음식을 선택해주세요</p>
                    </div>
                </div>
            </div>

            <div class="card col-md-4 col-12 separline last-child">
                <div class="step-element">
                    <div class="step-wrapper pb-3">
                        <h3 class="step d-flex align-items-center justify-content-center m-auto">
                            3
                        </h3>
                    </div>
                    <div class="step-text-content align-center">
                        <h4 class="mbr-step-title pb-3 mbr-fonts-style display-5">Recipe
                        </h4>
                        <p class="mbr-step-text mbr-fonts-style display-7">
                            소개된 레시피를 따라 음식을 만들면 됩니다</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 section 3 : search
<section class="mbr-section form3 cid-sxfTz6EAq9" id="form3-g" style="padding-top: 0;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-lg-8">
                <h2 class="align-center pb-2 mbr-fonts-style display-2">
                    가지고 있는 재료를 입력하세요
                </h2>
                <h3 class="mbr-section-subtitle align-center pb-5 mbr-light mbr-fonts-style display-5">
                    최소 2가지 이상
                </h3>
            </div>
        </div>
        <div class="row py-2 justify-content-center">-->
            <form action="{% url 'reco:result' %}" method="POST">
                    {% csrf_token %}
                    <div class="dragArea row">
                        <div class="form-group col">
                            <input type="text" name="ingredients" required="required" class="form-control display-7" id="email-form3-g">
                            <input type="hidden" name="ingredients[]" id="ingredients_list" values="">
                        </div>
                        <div class="col-auto input-group-btn">
                            <button type="button" class="btnAdd">+재료추가</button>
                            <button type="submit" onclick="getlist()">확인</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</section>
<script src="/static/reco/assets/web/assets/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready ( function() {
        $('.btnAdd').click ( function() {
            $('.form-group').append (
                '<input type="type" name="ingredients" required="required" class="form-control display-7" id="email-form3-g">\
                <button type="button" class="btnRemove">-</button><br>'
                );
                $('.btnRemove').on('click',function() {
                    $(this).prev().remove();
                    $(this).next().remove();
                    $(this).remove();
                });
            });
        });
</script>
<script type="text/javascript">
    function getlist() {
        var list = new Array();
        $("input[name=ingredients]").each( function(index, item) {
            list.push($(item).val());
        });
        $("#ingredients_list").val(list);
    }
</script>
{% endblock %}

