<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="search">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Browse Recipes</h2>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Choose category</label>
                                <select class="js-search-category form-control" name="category" data-placeholder="Choose Category">
                                    <option value="1">All</option>
                                    <option value="2">Breakfast</option>
                                    <option value="3">Lunch</option>
                                    <option value="4">Beverages</option>
                                    <option value="5">Appetizers</option>
                                    <option value="6">Soups</option>
                                    <option value="7">Salads</option>
                                    <option value="8">Beef</option>
                                    <option value="9">Poultry</option>
                                    <option value="10">Pork</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Select one or more ingredients that should be included in recipe</label>
                                <select class="js-search-ingredients form-control" name="ingredients[]" multiple="multiple" data-placeholder="Included Ingredients">
                                    <option value="sugar">sugar</option>
                                    <option value="wheat-flour">wheat flour</option>
                                    <option value="baking-powder">baking powder</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Recipe needs to have</label>
                                <select class="js-search-category2 form-control" name="category" data-placeholder="Choose Category">
                                    <option value="1">All of selected ingredients </option>
                                    <option value="2">Any of selected ingredients</option>
                                  </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Search by Keyword">
                                <button type="submit" class="btn">Search Recipes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>